static/* linguist-vendored
*.rb linguist-language=Java
special-vendored-path/* linguist-vendored
jquery.js linguist-vendored=false
project-docs/* linguist-documentation
docs/formatter.rb linguist-documentation=false
Api.elm linguist-generated=true